{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true,
    }
  },
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
  },
  "globals": {
    "React": true,
    "it": true,
    "describe": true,
    "expect": true,
    "module": true,
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": ["error", { allow: ["warn", "error"] }],
    "no-mixed-spaces-and-tabs": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extentions": 0,
    "react/no-string-refs": 0,
    "react/require-default-props": 0,
    "import/no-extraneous-dependecies": 0,
    "semi": 0,
    "array-callback-return": 0,
    "prefer-const": 2,
    "no-var": 2,
  },
  "parser": "babel-eslint"
}
